<div class="container d-flex flex-column align-items-center mt-3 p-2">

  <div class="content w-100">

      <div>
          <h1 class="white title p-2">Anexe uma Sub-Anotação</h1>
      </div>
      <div id="hc" class="w-100">
          <p class="p-3 pb-1">As sub-anotações são como divisões de uma anotação, ou seja, podemos vincular um tipo de tópico em uma anotação principal.</p>
          <p class="p-3 pt-1">A seguir selecione em qual anotação você quer inserir uma nova sub-anotação...</p>
      </div>

  </div>

</div>

<app-my-note-list></app-my-note-list>
