<!-- <app-header></app-header> -->

<div class="container d-flex flex-column align-items-center mt-3 p-2">

  <div id="menu" class="content w-100 d-flex">


    <button routerLink="publiclist" class="menuBtn p-2 w-25">
      Anotações públicas
    </button>

    <button routerLink="newnote" class="menuBtn p-2 w-25">
      Criar anotação
    </button>

    <button routerLink="selectnote" class="menuBtn w-25 p-2">
      Criar Sub-anotação
    </button>

    <button routerLink="mynoteslist" class="menuBtn p-2 w-25">
      Minhas Anotações
    </button>

  </div>

</div>

<router-outlet></router-outlet>
